<!DOCTYPE HTML>

<html>
<head>
    <title>Configuration Managment</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/css/main.css" />
	<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <h1>Configuration Managment</h1>
            <p>Administrador de archivos de configuración</p>
        </header>
        <div id="main">
            <section id="contentConfigFiles" class="main">
                <div id="configFiles" style="text-align: center">
                    <h1 align='center'>Monitoreo de Routers:</h1>
                </div>
            </section>
            <section id="contentDevices" class="main">
                <div id="devices" style="text-align: center">
                    <h1 align='center'>Dispositivos Administrados:</h1>
                </div>
            </section>
        </div>
    </div>

    <script type="text/javascript">

    var seconds = 2; // el tiempo en que se refresca
    var actualizando = false;

    function descartarCambios(btn){
        var div = btn.parentNode;
        actualizando = true;

        var ourRequest = new XMLHttpRequest();
        ourRequest.open('DELETE', 'http://192.168.0.2:8080/file-monitor');
        ourRequest.onload = function () {
            if (ourRequest.status >= 200 && ourRequest.status < 400) {
                alert("Se descartaron los cambios");
            } else if (ourRequest.status == 404){
                alert("error con la conexion");
            }
            div.remove();
            actualizando = false;
        }
        var data = new FormData();
        data.append('file', div.id);
        ourRequest.send(data);
    }

    function sobrescribirCambios(btn){
        var div = btn.parentNode;
        actualizando = true;

        var ourRequest = new XMLHttpRequest();
        ourRequest.open('PUT', 'http://192.168.0.2:8080/file-monitor');
        ourRequest.onload = function () {
            if (ourRequest.status >= 200 && ourRequest.status < 400) {
                alert("Se sobrescribieron los cambios");
            } else if (ourRequest.status == 404){
                alert("error con la conexion");
            }
            div.remove();
            actualizando = false;
        }
        var data = new FormData();
        data.append('file', div.id);
        ourRequest.send(data);
    }

    function getDevicesConfigFile() {
        var ourRequest = new XMLHttpRequest();
        ourRequest.open('POST', 'http://192.168.0.2:8080/config-managment');
        ourRequest.onload = function() {
            if (ourRequest.status == 200) {
                var data = JSON.parse(ourRequest.responseText);
                if(!actualizando)
                    renderDevices(data);
                setTimeout('refreshConfigMonitor()',seconds*1000);
            } else if (ourRequest.status == 404) {
                
            }
        };
        ourRequest.send();
    }

    function refreshConfigMonitor(){
        var ourRequest = new XMLHttpRequest();
        ourRequest.open('GET', 'http://192.168.0.2:8080/file-monitor');
        ourRequest.onload = function() {
            if (ourRequest.status == 200) {
                var data = JSON.parse(ourRequest.responseText);
                renderMonitor(data);
            } else if (ourRequest.status == 404) {
                console.log("Sin cambios");
            }
            setTimeout('refreshConfigMonitor()',seconds*1000);
        };
        ourRequest.send(null);
    }

    function renderMonitor(data){
        var i, j, output = "";
        for (i in data.dispositivo){
            if (document.getElementById(data.dispositivo[i].file) != null)
                continue;
            output += "<div id=" + data.dispositivo[i].file + "><hr/>";
            output += "Cambios en el Router: " + data.dispositivo[i].router + "<br>";
            output += data.dispositivo[i].fecha + "<br>";
            for(j in data.dispositivo[i].cambios){
                output += data.dispositivo[i].cambios[j] + "<br>";
            }
            output += "<input type='button' value='Descartar' onclick='descartarCambios(this)'/>";
            output += "<input type='button' value='Sobrescribir' onclick='sobrescribirCambios(this)'/>";
            output += "</div>";
        }
        document.getElementById('configFiles').insertAdjacentHTML("beforeend", output);
    }

    function renderDevices(data){
        var i, j, output = "";
        for (i in data.dispositivo){
            output += "> " + data.dispositivo[i].name;
            output +=  ": [" + data.dispositivo[i].localip + "]";
            output += "<br>";
        }
        document.getElementById('devices').insertAdjacentHTML("afterend", output);
        console.log("Todo correcto")
    }

    window.onload = function(){
        getDevicesConfigFile();
    }
    </script>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.scrollex.min.js"></script>
		<script src="static/js/jquery.scrolly.min.js"></script>
		<script src="static/js/browser.min.js"></script>
		<script src="static/js/breakpoints.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>
  </body>
</html>