<!DOCTYPE HTML>

<html>
  <head>
    <title>Index</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <div id="wrapper">
      <header id="header">
          <h1>Administrador de Red</h1>
          <p>Inicio</p>
      </header>
      <div id="main">
        <section id="content" class="main">
            <a href="http://192.168.0.2:8080/ping-puller">Ping Puller</a><br>
            <a href="http://192.168.0.2:8080/connect-devices">Connect Devices</a><br>
            <a href="http://192.168.0.2:8080/fault-managment">Fault Managment</a><br>
            <a href="http://192.168.0.2:8080/config-managment">Configuration Managment</a>
            <a href="http://192.168.0.2:8080/accounting-managment">Accounting Managment</a>
        </section>
      </div>
    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.scrollex.min.js"></script>
		<script src="static/js/jquery.scrolly.min.js"></script>
		<script src="static/js/browser.min.js"></script>
		<script src="static/js/breakpoints.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>
  </body>
</html>
